@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    /* Alternative font family */
    /* font-family: 'JetBrains Mono', monospace; */
}

nav {
    background-color: #fff;
    box-shadow: 0 0 10px -5px #000;
    width: 100vw;
    border-radius: 0 0 8px 8px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    width: 100%;
    padding: 10px;
    text-align: center;
}

nav a {
    position: relative;
    width: 20px;
    color: #000;
    text-decoration: none;
    outline: none;
}

nav a::before {
    content: '';
    width: 100%;
    border-bottom: dashed 2px #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-in-out;
}

li:hover > a::before, li:focus-within > a::before {
    transform: scaleX(1);
    transform-origin: left;
    cursor: pointer;
}

header {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    color: #fff;
}

/* Animation */



/* Responsive content */

@media only screen and (max-width: 768px) {
    nav {
        width: 150px;
        min-height: 100vh;
        border-radius: 0 8px 8px 0;
    }

    nav ul {
        gap: 15px;
        flex-direction: column;
        padding: 5px 10px;
    }

    nav li {
        width: 100%;
        text-align: left;
    }
}